/* styles.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #333;
}

.cars {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.car {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 10px;
  width: 45%;
}

.car img {
  max-width: 100%;
  border-radius: 10px;
}

button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

#message {
  margin-top: 20px;
  color: green;
  font-weight: bold;
}

#leaderboard {
  margin-top: 30px;
}

#leaderboardList {
  list-style-type: none;
  padding: 0;
}

#leaderboardList li {
  background-color: #f9f9f9;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.car span {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
